@font-face  {
  font-family: "Tenor Sans";
  src: local(''),
  url('../font/TenorSans-Regular.ttf');

  }
@font-face {
  font-family: "UNSCII";
  src: local(''), 
  url('../font/unscii-16.woff');
}
@font-face {
  font-family: "RocknRoll One";
  src: local(''), 
  url('../font/RocknRollOne-Regular.ttf');
}
@font-face {
  font-family: "Metal Mania";
  src: local(''), 
  url('../font/MetalMania-Regular.ttf');
}

.glowing-text {
  animation: textShadow 1.033s infinite;
}
.text-shadow-animation {
  animation: textShadow 1.033s infinite;
}

.margin-top-s {
  margin-top: 2rem;
}

.ellipsify {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.ellipsify:hover {
   text-overflow:clip;
white-space: normal;
word-break: break-all;
}
.ellipsify2 {
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;

}
.ellipsify2:hover {
   text-overflow:clip;
white-space: normal;
word-break: break-all;
}
.footercurves  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(24%2c 24%2c 27%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(24%2c 24%2c 27%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  margin-bottom: -1px;
}
.footercurves_sxvx_style  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(33%2c 37%2c 41%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(33%2c 37%2c 41%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  margin-bottom: -1px;
}
.footercurves_  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(24%2c 24%2c 27%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(24%2c 24%2c 27%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
  margin-bottom: -1px;
}
.footercurves_sxvx_style_  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(33%2c 37%2c 41%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(33%2c 37%2c 41%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
  margin-bottom: -1px;
}


.footercurves_null  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-size: 100% 100%; 
  margin-bottom: -1px;
}


.footercurves_light  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 01)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(242%2c 238%2c 230%2c 0.1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%; 
  margin-bottom: -1px;
}
.footercurves_sxvx_style_light  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 01)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(242%2c 238%2c 230%2c 0.1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%; 
  margin-bottom: -1px;
}
.footercurves_sxvx_style_light_  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 01)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(242%2c 238%2c 230%2c 0.1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='rgba(250%2c 249%2c 247%2c 01)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%; 
  margin-bottom: -1px;
  background-size: 100% 100%; 
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}
.footercurves_light_  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3crect width='1440' height='100' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 01)'%3e%3c/rect%3e%3cpath d='M 0%2c1 C 57.6%2c4.8 172.8%2c17.4 288%2c20 C 403.2%2c22.6 460.8%2c11.4 576%2c14 C 691.2%2c16.6 748.8%2c35.2 864%2c33 C 979.2%2c30.8 1036.8%2c3.2 1152%2c3 C 1267.2%2c2.8 1382.4%2c26.2 1440%2c32L1440 100L0 100z' fill='rgba(242%2c 238%2c 230%2c 0.1)'%3e%3c/path%3e%3cpath d='M 0%2c58 C 96%2c54.2 288%2c38.6 480%2c39 C 672%2c39.4 768%2c58.2 960%2c60 C 1152%2c61.8 1344%2c50.4 1440%2c48L1440 100L0 100z' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/path%3e%3cpath d='M 0%2c76 C 96%2c81.8 288%2c89 480%2c89 C 672%2c89 768%2c78 960%2c80 C 1152%2c82 1344%2c95.2 1440%2c99L1440 100L0 100z' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='100' fill='rgba(248%2c 250%2c 252%2c 01)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%; 
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
  margin-bottom: -1px;
}



.footercurves-3waves  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='120' preserveAspectRatio='none' viewBox='0 0 1440 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='rgba(43%2c 48%2c 53%2c 0.1)'%3e%3cpath d='M 0%2c8 C 96%2c12.6 288%2c29.6 480%2c31 C 672%2c32.4 768%2c14.6 960%2c15 C 1152%2c15.4 1344%2c29.4 1440%2c33L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c67 C 96%2c62 288%2c41.2 480%2c42 C 672%2c42.8 768%2c71 960%2c71 C 1152%2c71 1344%2c47.8 1440%2c42L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 0.4)'%3e%3c/path%3e%3cpath d='M 0%2c101 C 96%2c99.2 288%2c88.4 480%2c92 C 672%2c95.6 768%2c120.4 960%2c119 C 1152%2c117.6 1344%2c91.8 1440%2c85L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='120' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  -moz-transform: scaley(1);
-o-transform: scaley(1);
-webkit-transform: scaley(1);
transform: scaley(1);
}
.footercurves-3waves_dark  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='120' preserveAspectRatio='none' viewBox='0 0 1440 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='rgba(43%2c 48%2c 53%2c 0.1)'%3e%3cpath d='M 0%2c8 C 96%2c12.6 288%2c29.6 480%2c31 C 672%2c32.4 768%2c14.6 960%2c15 C 1152%2c15.4 1344%2c29.4 1440%2c33L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c67 C 96%2c62 288%2c41.2 480%2c42 C 672%2c42.8 768%2c71 960%2c71 C 1152%2c71 1344%2c47.8 1440%2c42L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 0.4)'%3e%3c/path%3e%3cpath d='M 0%2c101 C 96%2c99.2 288%2c88.4 480%2c92 C 672%2c95.6 768%2c120.4 960%2c119 C 1152%2c117.6 1344%2c91.8 1440%2c85L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='120' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  -moz-transform: scaley(1);
-o-transform: scaley(1);
-webkit-transform: scaley(1);
transform: scaley(1);
}
.footercurves-3waves_inverted  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='120' preserveAspectRatio='none' viewBox='0 0 1440 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='rgba(43%2c 48%2c 53%2c 0.1)'%3e%3cpath d='M 0%2c8 C 96%2c12.6 288%2c29.6 480%2c31 C 672%2c32.4 768%2c14.6 960%2c15 C 1152%2c15.4 1344%2c29.4 1440%2c33L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c67 C 96%2c62 288%2c41.2 480%2c42 C 672%2c42.8 768%2c71 960%2c71 C 1152%2c71 1344%2c47.8 1440%2c42L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 0.4)'%3e%3c/path%3e%3cpath d='M 0%2c101 C 96%2c99.2 288%2c88.4 480%2c92 C 672%2c95.6 768%2c120.4 960%2c119 C 1152%2c117.6 1344%2c91.8 1440%2c85L1440 120L0 120z' fill='rgba(242%2c 238%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='120' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  background-size: 100% 100%; 
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}
.footercurves-3waves_inverted_dark  {
  content: "";
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='120' preserveAspectRatio='none' viewBox='0 0 1440 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='rgba(43%2c 48%2c 53%2c 0.1)'%3e%3cpath d='M 0%2c8 C 96%2c12.6 288%2c29.6 480%2c31 C 672%2c32.4 768%2c14.6 960%2c15 C 1152%2c15.4 1344%2c29.4 1440%2c33L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c67 C 96%2c62 288%2c41.2 480%2c42 C 672%2c42.8 768%2c71 960%2c71 C 1152%2c71 1344%2c47.8 1440%2c42L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 0.4)'%3e%3c/path%3e%3cpath d='M 0%2c101 C 96%2c99.2 288%2c88.4 480%2c92 C 672%2c95.6 768%2c120.4 960%2c119 C 1152%2c117.6 1344%2c91.8 1440%2c85L1440 120L0 120z' fill='rgba(43%2c 48%2c 53%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='120' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  background-size: 100% 100%; 
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}

.overlay {
  top:0;
  left:0;
  position:fixed;
  pointer-events:none;
  height: 100%;
  width: 100%;

}

.overlay.noise {
  z-index:999999;
  animation:grain 8s steps(10) infinite;
  background-image:url('../img/noise.png');
  height:400%;
  left:-50%;
  top:-150%;
  width:300%;
  background-size:auto;
  opacity:.2
}
.overlay.scanlines {
  z-index:900;
  background:linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,0.25) 50%),linear-gradient(90deg,rgba(255,0,0,0.06),rgba(0,255,0,0.03),rgba(0,0,255,0.06));
  background-size:100% 3px,3px 100%
}
.overlay.scanline {
  z-index:999999;
  animation:scanline 15.77s linear infinite;
 
    animation-name: scanline;
    animation-duration: 15.77s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state:  running;
    animation-timeline: ;
}
.overlay.scanline::after {
  height:1px;
  width:100%;
  background:#000;
  opacity:.5;
  pointer-events:none;
  content:''
}
.overlay.scanline2 {
  z-index:999999;
  animation:scanline 23.77s linear infinite;
 
    animation-name: scanline;
    animation-duration: 23.77s;
    animation-timing-function: linear;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state:  running;
    animation-timeline: ;
}
.overlay.scanline2::after {
  height:2px;
  width:100%;
  background: #31492e69;
  opacity: 0.6;
  pointer-events:none;
  content:''
}


.overlay.flicker {
  z-index:999999;
/*  background:rgba(9,8,8,.05);*/
/*background:rgba(16, 37, 8, 0.06);*/
background: rgba(24, 8, 37, 0.08);
  animation:flicker .08s infinite;
  animation-timing-function:linear
}
.overlay.radial {
  z-index: 1000;
/*  background-image: radial-gradient(var(--gradient-radial),rgba(0,0,0,0.3) 100%)*/
background-image: radial-gradient(rgba(229, 23, 187, 0.25),rgba(52, 220, 173, 0.15) 100%);
/* background-image: radial-gradient(rgba(223, 187, 49, 0.25),rgba(185, 98, 35, 0.15) 100%); */
  }
  .overlay.radial2 {
    z-index: 1000;
  /*  background-image: radial-gradient(var(--gradient-radial),rgba(0,0,0,0.3) 100%)*/
  background-image: radial-gradient(rgba(229, 23, 30, 0.25),rgba(220, 52, 189, 0.1) 100%);
    }
    .overlay.radial3 {
      z-index: 1000;
    /*  background-image: radial-gradient(var(--gradient-radial),rgba(0,0,0,0.3) 100%)*/
    background-image: radial-gradient(rgba(23, 229, 50, 0.25),rgba(13, 164, 122, 0.1) 100%);
      }
      .overlay.radial4-terra {
        z-index: 1000;
      background-image: radial-gradient(rgba(255, 108, 0, 0.16),rgba(244, 228, 47, 0.13) 100%);
        }
@keyframes scanline {
  0% {
    transform:translateY(100%)
  }
}
@keyframes flicker {
  0% {
    opacity:0
  }
  10% {
    opacity:.9
  }
  20% {
    opacity:.99
  }
  30% {
    opacity:0
  }
  40% {
    opacity:.9
  }
  50% {
    opacity:.99
  }
  60% {
    opacity:0
  }
  70% {
    opacity:.9
  }
  80% {
    opacity:.99
  }
  90% {
    opacity:0
  }
  100% {
    opacity:.9
  }
}
@keyframes grain {
  0%,
  100% {
    transform:translate(0,0)
  }
  10% {
    transform:translate(-5%,-10%)
  }
  20% {
    transform:translate(-15%,5%)
  }
  30% {
    transform:translate(7%,-25%)
  }
  40% {
    transform:translate(-5%,25%)
  }
  50% {
    transform:translate(-15%,10%)
  }
  60% {
    transform:translate(15%,0%)
  }
  70% {
    transform:translate(0%,15%)
  }
  80% {
    transform:translate(3%,35%)
  }
  90% {
    transform:translate(-10%,10%)
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
/*
 https://github.com/JoCat/IcePlayer
*/

:root {
  --ice-player-primary-color:  #ddd ;  
  --ice-player-secondary-color: rgba(0,0,0,0.65);
  --ice-player-border-color: #2f2f2f87;
  --iceplayer-track-height: 4px;
  --iceplayer-track-border-radius: calc(var(--iceplayer-track-height) / 2);
  --iceplayer-thumb-size: 25px;
  --iceplayer-thumb-border: 2px solid var(--ice-player-secondary-color);
}

.ice-player {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 1.7rem;
  color: var(--ice-player-primary-color);

}
#live  {height: 4vh ; 
/* box-shadow: 0 0 10px #FFFFFF; */
border-radius:5px; }
.ice-player.fixed {
font-size: 1.5rem;
 position: fixed;
 bottom: 0;
 left: 1.5%;
 width: Calc(100% - 3%);
 border-radius: 0.75rem;
 margin-bottom: 0.75rem;
 /*background-color: rgba(58, 103, 148, 0.638); */
 /* background:  linear-gradient(180deg, rgba(0, 0, 0, 0.694) 10%, rgba(0,0,0,0.6936974618949142) 100%); */
 border-top: 1px solid var(--ice-player-border-color);
 min-height: 12vh;
}

 .ice-player.fixed .ice-track {
  display: block;
  color:  #ffffff ;  
  }
  .ice-player.fixed .ice-track {
    font-size: 14px;
  } 
@media screen and (max-width:640px) {
 .ice-player.fixed {
  left: 0;
  width: 100%;
  border-radius:0rem;
  margin-bottom: 0rem;;
 }
 /* .ice-player.fixed i {
  font-size: 1.5rem;
} */
}
@media (max-width: 1000px) and (min-width: 500px) {
 
.ice-player.fixed .ice-track {
  font-size: 14px;
}
 .ice-player.fixed i {
  font-size: 1.5rem;
}
#live  {height: 4vh ;}
}

.ice-player-el {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  min-width: 0;
}

/* [class*="ice-"] {
  display: inline-flex;
} */

.ice-pause {
  display: none;
}

/* Player Icons */
@font-face {
  font-family: 'iceplayer';
  src: url('../font/iceplayer.eot?77906441');
  src: url('../font/iceplayer.eot?77906441#iefix') format('embedded-opentype'),
       url('../font/iceplayer.woff2?77906441') format('woff2'),
       url('../font/iceplayer.woff?77906441') format('woff'),
       url('../font/iceplayer.ttf?77906441') format('truetype'),
       url('../font/iceplayer.svg?77906441#iceplayer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ice-"]:before, [class*=" ice-"]:before {
  font-family: "iceplayer";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 1em;
  margin: 0 .25em;
  text-align: center;
  cursor: pointer;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ice-pause:before { content: '\f00e'; } /* '' */
.ice-play:before { content: '\f00f'; } /* '' */
.ice-stop:before { content: '\f080'; } /* '' */
 
.ice-pause,.ice-play,.ice-stop {
  margin-top: 3px;
 }
 
/* Player Icons End */
.vol_value {
  font-size: 10px;
  position: absolute;
  top: -8px;
  left: 61px;
}

.vol_value:not(.open_volume){
  transform: scale(0);
  display: none;
  transition: 0.4s;
 
}
.ice-volume {
  width: 160px;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 16px ;
  height: 20px;
  transition: .5s ease-in-out;
  background: rgba(75, 75, 75, 1);
  cursor: pointer;
  transition: 0.2s;

  position: absolute;
  left: -2px;
  top: -80px;

}
.ice-volume:not(.open_volume){
  transform: scale(0%);
 

  transition: 0.5s;
 
  top: -40px;
}
  

.ice-volume:hover {
  width: 160px;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 16px ;
  height: 25px;
  transition: .5s ease-in-out;
  background: rgba(75, 75, 75, 1);
  cursor: pointer;


}
.ice-volume:focus {outline: none;}


.ice-volume::-webkit-slider-thumb {
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
  width: var(--iceplayer-thumb-size);
  height: var(--iceplayer-thumb-size);
  background-color: rgba(230, 230, 230, 1);
/*    margin-top: calc(var(--iceplayer-track-height) * -1.5);*/
  border: 0.5px solid  rgba(75, 75, 75, 1);
  box-sizing: border-box;
/*    box-shadow:  -407px 0 0 400px orangered;*/
  transition: .5s ease-in-out;

}
.ice-volume::-moz-range-thumb {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: var(--iceplayer-thumb-size);
  height: var(--iceplayer-thumb-size);
  background-color: rgba(230, 230, 230, 1);
  border: 0.5px solid  rgba(75, 75, 75, 1);
  box-sizing: border-box;
/*    box-shadow:  -407px 0 0 400px orangered;*/
  transition: .5s ease-in-out;

}

.ice-player.inline .ice-volume::-webkit-slider-thumb {
  border-color: #fff;
}
.ice-player.inline .ice-volume::-moz-range-thumb {
  border-color: #fff;
}
/* Hover, active & focus Thumb: Webkit */

.ice-volume::-webkit-slider-thumb:hover {
box-shadow: 0 0 0 10px rgba(255,255,255, .1)
}
.ice-volume:active::-webkit-slider-thumb {
box-shadow: 0 0 0 10px rgba(255,255,255, .2)
}
.ice-volume:focus::-webkit-slider-thumb {
box-shadow: 0 0 0 10px rgba(255,255,255, .2)
}

/* Hover, active & focus Thumb: Firfox */

.ice-volume::-moz-range-thumb:hover {
box-shadow: 0 0 0 10px rgba(255,255,255, .1)
}
.ice-volume:active::-moz-range-thumb {
box-shadow: 0 0 0 10px rgba(255,255,255, .2)
}
.ice-volume:focus::-moz-range-thumb {
box-shadow: 0 0 0 10px rgba(255,255,255, .2)
}
/* Input Range Style (Volume) End  */

/* Input Range Style (Volume) End  */
.omfmbutton {
 z-index: 99; 
 position: fixed;
 z-index: 99;
 bottom: 73px;
 left: 5%;
 cursor: pointer;
 background-color: rgba(0, 0, 0, 0.4);
 border-radius: 100%;
 opacity: 0.5;
 -webkit-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
 -webkit-animation: pulse 1.6s infinite;
 animation: pulse 1.6s infinite;
  width: 45px;
 height: 45px;
  padding: 5px;
}

.omfmbutton:hover {
  opacity: 1;
    width: 55px;
 height: 55px;
}



.ice-volume3 {
  top: 100px;  
  left: 63px;
  appearance: none;
  width: 141px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 10px 3px #00000078;
  background: var(--ice-player-primary-color);
  border-radius: 15px;
   background-color: transparent;
  box-shadow: 0 2px 10px 3px #00000078;
  transition: 0.4s;
   background: rgba(75, 75, 75, 1);
}
.ice-volume3:not(.open_volume){
  transform: scale(0);
  transition: 0.4s;
   
  rotate: -270deg;
}



.ice-volume3:focus {outline: none;}

.ice-volume3::-webkit-slider-thumb {
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height:34px;
  background-color: rgba(230, 230, 230, 1);
  border:  0.5px solid  rgba(75, 75, 75, 1);
   
/*    border: 2px solid #ffc107;*/
  box-sizing: border-box;
  padding:10px;
/*    box-shadow:  -407px 0 0 400px #8cc76e; */


}

.ice-volume3::-moz-range-thumb {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 34px;
  height:34px;
  background-color: rgba(230, 230, 230, 1);
  border:  0.5px solid  rgba(75, 75, 75, 1);
/*    border: 1px solid #ffc107;*/
  box-sizing: border-box; 
/*    box-shadow:   -407px 0  0 400px #8cc76e; */
}

.ice-volume3:focus {outline: none;}
/* Hover, active & focus Thumb: Webkit */

.ice-volume3::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255, .1)
  }
  .ice-volume3:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  .ice-volume3:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }

/* Hover, active & focus Thumb: Firfox */

.ice-volume::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255, .1)
  }
  .ice-volume3:active::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  .ice-volume3:focus::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  

 
.ice-player.inline .ice-volume::-webkit-slider-thumb {
  border-color: #fff;
}
.ice-player.inline .ice-volume::-moz-range-thumb {
  border-color: #fff;
}
/* Hover, active & focus Thumb: Webkit */

@media (max-width:640px) {
 
    


  .volume-vertical {
      position: absolute;
     /* bottom: 79px;
      left: Calc(0% + 15px);*/
      bottom: 160px;
      left: 11px;
      appearance: none;
      width: 156px;
      height: 30px;
      background: var(--ice-player-primary-color);
      border-radius: 15px;
       background-color: transparent;
      box-shadow: 0 2px 10px 3px #00000078;
      transition: 0.4s;
       background: rgba(75, 75, 75, 1);
       -webkit-appearance: none;
  /*    overflow: hidden;*/
     
      -webkit-transform:  rotate(-90deg);
      z-index: 999999;
      cursor: pointer;
    
     
  }
  
  
  .volume-vertical:not(.open_volume){
    transform: scale(0);
    transition: 0.4s;
       rotate: -270deg;
   
  
  }
  /* .speaker:not(.open_volume){
    transform: scale(0);
    transition: 0.4s;
     
    rotate: -270deg;
  
  } */
  
  
   .volume-vertical:focus {outline: none;}
  
  
  
   /*.volume-vertical::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      width: 170px;
      background: var(--ice-player-primary-color);
      border-radius:  3px;
      box-shadow: 0 2px 10px 3px #00000078;*/
  /*  When fisabled  - works on iOS:  height: 32px;*/
  /*    overflow: hidden;
  
  }
   .volume-vertical::-moz-range-track {
      cursor: pointer;
      width: 170px;
      background: white;
      border-radius: 15px;
      box-shadow: 0 2px 10px 3px #00000078;
      height: 32px;
     overflow: hidden;
  
  } */ 
   .volume-vertical::-webkit-slider-thumb {
      cursor: pointer;
      border-radius: 50%;
      -webkit-appearance: none;
      appearance: none;
      width: 34px;
      height:34px;
      background-color: rgba(230, 230, 230, 1);
      border:  0.5px solid  rgba(75, 75, 75, 1);
       
  /*    border: 2px solid #ffc107;*/
      box-sizing: border-box;
      padding:10px;
  /*    box-shadow:  -407px 0 0 400px #8cc76e; */
  
   
  }
  .volume-vertical::-moz-range-thumb {
      border: none;
      cursor: pointer;
      border-radius: 50%;
      width: 34px;
      height:34px;
      background-color: rgba(230, 230, 230, 1);
      border:  0.5px solid  rgba(75, 75, 75, 1);
  /*    border: 1px solid #ffc107;*/
      box-sizing: border-box; 
  /*    box-shadow:   -407px 0  0 400px #8cc76e; */
  }
  
  .volume-vertical:focus {outline: none;}
  /* Hover, active & focus Thumb: Webkit */
  
  .volume-vertical::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255, .1)
  }
  .volume-vertical:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  .volume-vertical:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  .volume-vertical::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255, .1)
  }
  .volume-vertical:active::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  .volume-vertical:focus::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(255,255,255, .2)
  }
  /* .speaker {
    cursor: pointer;
    margin-right: -30px!important;
    transition: 0.4s;
    bottom: 35px;
    left: -30px;
    height: 30px;
    width: 30px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
  }
  .speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(230, 230, 230, 1);
    margin: 11px 0 0 2px;
  }
  .speaker span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent rgba(230, 230, 230, 1) transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
  }
  .speaker span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: double;
    border-color: rgba(230, 230, 230, 1);
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
  }
  .speaker:hover span:before {
    transform: scale(.8) translate(-3px,0) rotate(42deg);
  }
  .speaker.muted span:before {
    transform: scale(.5) translate(-15px,0) rotate(36deg);
    opacity: 0;
  } */


  .speaker_as_icon {
    cursor: pointer;
    margin-left: 4px;
    height: 23px;
    width: 26px;
    display: inline-block;
    position: relative;
    overflow: visible;
  }
  .speaker_as_icon span {
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(230, 230, 230, 1);
    margin: 11px 0 0 2px;
  }
  .speaker_as_icon  span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent rgba(230, 230, 230, 1) transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
  }
  .speaker_as_icon span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: double;
    border-color: rgba(230, 230, 230, 1);
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
  }


  }
  
  
  .speaker {
    cursor: pointer;
    /* margin-right: 5px; */
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(239, 68, 68, 1);
    margin: 11px 0 0 2px;
  }
  .speaker span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent rgba(239, 68, 68, 1) transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
  }
  .speaker span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: double;
    border-color: rgba(239, 68, 68, 1);
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
  }
  .speaker:hover span:before {
    transform: scale(.8) translate(-3px,0) rotate(42deg);
  }
  .speaker.muted span:before {
    transform: scale(.5) translate(-15px,0) rotate(36deg);
    opacity: 0;
  }
  /* .ice-volume3_Mute {
    position: absolute;
    left: 53px;
    top: 48px;
  } */

  /* .ice-volume3_Mute:not(.open_volume){
    transform: scale(0);
    transition: 0.4s;
     
    rotate: -270deg;
  } */

  .speaker3 {
    cursor: pointer;
    /* margin-right: 5px; */
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* right: -2px;
    top: 43px; */
  }
  .speaker3 span {
    display: block;
    width: 8px;
    height: 8px;
    background:rgba(239, 68, 68, 1);
    margin: 11px 0 0 2px;
  }
  .speaker3 span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent rgba(239, 68, 68, 1) transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
  }
  .speaker3 span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: double;
    border-color: rgba(239, 68, 68, 1);
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
  }
  .speaker3:hover span:before {
    transform: scale(.8) translate(-3px,0) rotate(42deg);
  }
  .speaker3.muted span:before {
    transform: scale(.5) translate(-15px,0) rotate(36deg);
    opacity: 0;
  }
  /* .speaker3:not(.open_volume){
    transform: scale(0);
    transition: 0.4s;
     
    rotate: -270deg;
  
  } */

  

  .song_time_offcanvas {
    color: orange;
  position: absolute;
  top: 13%;
  left: 3%;
  font-family: monospace;
  font-size: 23px;
  text-shadow: 1px 1px 5px black;
  }
  .song_progress_elapsed {
    font-family: monospace;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    margin-bottom: 5.5px;
    margin-left: 15px;
    z-index: 1;
  }
  .song_duration {
    font-family: monospace;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    margin-bottom: 5.5px;
    margin-right: 15px;
    z-index: 1;
  }
  .song_progress_elapsed_offcanvas {
    font-family: monospace;
    position: absolute;
    right:55px;
    bottom: 0;
    font-size: 12px;
    margin-bottom: -2px;
    /* margin-left: 20px; */
    z-index: 1;
  }
  .song_duration_offcanvas {
    font-family: monospace;
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 12px;
    margin-bottom: -2px;
    /* margin-right: 20px; */
    z-index: 1;
  }
  .song_separator_offcanvas {
    font-family: monospace;
    position: absolute;
    right: 45px;
    bottom: 0;
    font-size: 12px;
    margin-bottom: -2px;
    /* margin-right: 20px; */
    z-index: 1;
  }
  
  #progress_bar {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 12px;
      width: calc(100% - 30px);
      position: absolute;
      bottom: 3%;
      left: 15px;
      right: 0%;
      border: none;
      color: #ef4444;
      opacity: 0.75;
      background: #777; /* Firefox: unfilled portion */
      border-radius: 100px;
    }
    .progress_bar_div_wrapper {
      height: 15px;
      width: calc(100% - 20px);
      position: absolute;
      bottom: 0%;
      margin-bottom: 9px;
      left: 10px;
      right: 0%;
      border: none;
      background-color: rgba(75, 75, 75, 1);
      opacity: 1;
      border-radius: 100px;
      overflow: hidden;
    }
    #progress_bar_div {
      height: 15px;
      width:  0%;
      background-color: #ef4444;
      opacity: 0.75;
      transition: width 1s linear;
      
    }
    .progress_bar_div_wrapper_offcanvas {
      height: 15px;
      width: 100%;
      border-bottom-right-radius: 0.45rem;
      border-bottom-left-radius: 0.45rem;
      border: none;
      color: #777;
      opacity: 0.8;
      background: #777;
      overflow: hidden;
    }
    #progress_bar_div_offcanvas {
      height: 15px;
      width: 100%;
      border: none;
      opacity: 0.8;
      background: orange; 
      transition: width 1s linear;

      
    }

    #progress_bar_offcanvas {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 15px;
      width: 100%;
      border-bottom-right-radius: 0.45rem;
      border-bottom-left-radius: 0.45rem;
      border: none;
      color: orange;
      opacity: 0.8;
      background: #777; /* Firefox: unfilled portion */
      /* margin-left: -0.5px;
      margin-right: -0.5px; */
      
    }

    #indexSlider .swiper-button-prev,
    #indexSlider .swiper-button-next {
      color:rgba(180, 180, 180, 0.82);
      padding: 24px;
      background-color: rgba(68, 68, 68, 0.519);
      border-radius: 100%;
    }
    #indexSlider .swiper-pagination-bullet-active {
      
      background: white;
    }
    #indexSlider .swiper-button-prev::after,   #indexSlider .swiper-button-next::after {
      font-size: 20px;
    }
    :root {
    --tw-ring-color: red;
    }
    .indexSliderImg {
    background: linear-gradient(0deg, rgb(33, 37, 41) 4%, rgba(97, 85, 41, 0.38) 25%, rgba(145, 131, 90, 0.17) 50%, rgba(97, 85, 41, 0.38) 71%, rgb(43, 48, 53) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    } 
    .indexSliderImg-light {
      /* background: linear-gradient(0deg, rgb(250, 249, 247) 4%, rgba(250, 249, 247, 0.74) 28%, rgba(233, 233, 233, 0.2) 50%, rgba(242, 238, 230, 0.38) 71%, rgb(242, 238, 230) 100%);      position: absolute; */
      background: linear-gradient(0deg,#faf9f7,hsla(40,23%,97%,.8) 15%,hsla(40,23%,97%,.55) 28%,hsla(40,23%,97%,.4) 50%,hsla(40,32%,93%,0.555) 71%,#f2eee6);
      height: 100%;
      width: 100%;
      z-index: 1;
      } 

    #soundwave ul {
      position: absolute;
      Top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    
    #soundwave ul li {
      display: inline-block;
      width: 5px;
      height: 50px;
      background-color: rgb(35,35,45);
      border-radius: 5px;
      margin-right: 5px;
      vertical-align: middle;
    }
    
    #soundwave ul li:last-child {
      margin-right: 0;
      opacity: 0;
    }
    
    #soundwave ul li:nth-child(1){
      animation: height-changes;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(2){
      animation: height-changes-two;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(3){
      animation: height-changes-three;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(4){
      animation: height-changes-four;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(5){
      animation: height-changes-five;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(6){
      animation: height-changes;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(7){
      animation: height-changes-two;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(8){
      animation: height-changes-three;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(9){
      animation: height-changes-four;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(10){
      animation: height-changes-five;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(11){
      animation: height-changes-five;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(12){
      animation: height-changes;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(13){
      animation: height-changes-two;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(14){
      animation: height-changes-three;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    #soundwave ul li:nth-child(15){
      animation: height-changes-four;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(16){
      animation: height-changes-five;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #soundwave ul li:nth-child(17){
      animation: height-changes;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    @keyframes height-changes {
      0% {height: 50px}
      10% {height: 40px}
      20% {height: 50px}
      30% {height: 30px}
      40% {height: 10px}
      50% {height: 50px}
      60% {height: 20px}
      70% {height: 30px}
      80% {height: 20px}
      90% {height: 40px}
      100% {height: 50px}
    }
    
    @keyframes height-changes-two {
      0% {height: 10px}
      10% {height: 20px}
      20% {height: 50px}
      30% {height: 20px}
      40% {height: 50px}
      50% {height: 40px}
      60% {height: 10px}
      70% {height: 50px}
      80% {height: 10px}
      90% {height: 20px}
      100% {height: 10px}
    }
    
    @keyframes height-changes-three {
      0% {height: 20px}
      10% {height: 50px}
      20% {height: 30px}
      30% {height: 10px}
      40% {height: 40px}
      50% {height: 40px}
      60% {height: 20px}
      70% {height: 10px}
      80% {height: 50px}
      90% {height: 10px}
      100% {height: 20px}
    }
    
    @keyframes height-changes-four {
      0% {height: 30px}
      10% {height: 30px}
      20% {height: 10px}
      30% {height: 50px}
      40% {height: 40px}
      50% {height: 20px}
      60% {height: 20px}
      70% {height: 30px}
      80% {height: 20px}
      90% {height: 10px}
      100% {height: 30px}
    }
    
    @keyframes height-changes-five {
      0% {height: 40px}
      10% {height: 10px}
      20% {height: 20px}
      30% {height: 50px}
      40% {height: 30px}
      50% {height: 50px}
      60% {height: 10px}
      70% {height: 30px}
      80% {height: 20px}
      90% {height: 20px}
      100% {height: 40px}
    }